In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/stock-exchange-data/indexProcessed.csv
/kaggle/input/stock-exchange-data/indexData.csv
/kaggle/input/stock-exchange-data/indexInfo.csv

In [15]:
df = pd.read_csv('/kaggle/input/stock-exchange-data/indexProcessed.csv')
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

# **1. How big is the Data?**

In [8]:
df.shape

(104224, 9)

# **2. How does the data look like?**

In [10]:
df.sample(5) ## normally to analyse the big data we use the sample() function

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
63285,399001.SZ,2010-02-09,11935.799810,12037.320310,11900.280270,11970.440430,11970.306640,4.080000e+04,1915.270469
5890,HSI,2010-10-28,23290.539060,23290.539060,23136.970700,23210.859380,23210.859380,1.333725e+09,3017.411719
96675,TWII,2000-03-30,9846.639648,10071.259770,9846.639648,9931.940430,9931.902344,0.000000e+00,397.277617
48011,N225,1993-10-12,20376.339840,20376.339840,20116.710940,20137.310550,20137.310550,0.000000e+00,201.373106
90373,SSMI,1998-12-15,6682.799805,6771.600098,6677.399902,6768.200195,6768.200195,0.000000e+00,7512.702216

# **3. What are the datatype of the columns?**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104224 entries, 0 to 104223
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Index      104224 non-null  object
 1   Date       104224 non-null  object
 2   Open       104224 non-null  float64
 3   High       104224 non-null  float64
 4   Low        104224 non-null  float64
 5   Close      104224 non-null  float64
 6   Adj Close  104224 non-null  float64
 7   Volume     104224 non-null  float64
 8   CloseUSD   104224 non-null  float64
dtypes: float64(7), object(2)
memory usage: 7.2+ MB

# **4. identifying the null values**

In [13]:
df.isnull().sum() 
##here in this case we don't have null values but we get the ideas of the null values in case we have them

Index        0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
CloseUSD     0
dtype: int64

# **5. How does data look mathematically**

In [14]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
count,104224.000000,104224.000000,104224.000000,104224.000000,104224.000000,1.042240e+05,104224.000000
mean,8015.353334,8063.324234,7962.581120,8014.366642,8014.161269,1.347646e+09,3046.729177
std,9140.563404,9196.575802,9082.767802,9140.609758,9140.720456,4.427662e+09,3747.865623
min,54.869999,54.869999,54.869999,54.869999,54.869999,0.000000e+00,10.204900
25%,2046.887756,2057.213990,2037.185943,2047.506470,2047.358490,0.000000e+00,320.460898
50%,5772.140137,5812.764892,5725.199951,5773.710205,5773.710205,9.529000e+05,1371.598486
75%,10487.377445,10552.179690,10416.092287,10488.622560,10488.622560,2.064676e+08,4383.045241
max,68775.062500,69403.750000,68516.992190,68775.062500,68775.062500,9.440374e+10,18934.376173

In [18]:
df.loc[df['Volume'] == df['Volume'].max()] ##This  snippet of code is just executed for fun

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
76317,GSPTSE,2020-06-19,15638.09961,15638.09961,15436.90039,15474.2002,15474.2002,9.440374e+10,12843.586166

# **6. What is the mathematical corelation between the columns?**

In [22]:
df.corr(numeric_only = True) #Kindly refer to the documentation if any error occurs

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
Open,1.000000,0.999958,0.999942,0.999904,0.999904,0.129090,0.187904
High,0.999958,1.000000,0.999929,0.999954,0.999954,0.128926,0.187606
Low,0.999942,0.999929,1.000000,0.999958,0.999958,0.128964,0.188190
Close,0.999904,0.999954,0.999958,1.000000,1.000000,0.128971,0.187979
Adj Close,0.999904,0.999954,0.999958,1.000000,1.000000,0.128976,0.187980
Volume,0.129090,0.128926,0.128964,0.128971,0.128976,1.000000,0.506375
CloseUSD,0.187904,0.187606,0.188190,0.187979,0.187980,0.506375,1.000000

# **7. Are there duplicate values?**

In [24]:
df.duplicated().sum()

0